<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/tools"
    package="com.amtee.camscanner">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.amtee.camscanner.volley_works.ApplicationFL"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        tool:replace="android:icon"
        android:label="@string/app_name"
        android:theme="@style/DevenTheme">

        <activity
            android:name="com.amtee.camscanner.activities.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amtee.camscanner.activities.drawer_activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amtee.camscanner.activities.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SingleItemClick"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amtee.camscanner.activities.LoginPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amtee.camscanner.activities.SecurityQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amtee.camscanner.activities.PicCaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeDevFullScreen" />
        <activity
            android:name="com.amtee.camscanner.ocrwork.OcrTextGetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDev"/>
        <activity
            android:name="com.amtee.camscanner.utilities.camera_utils.ImageEditor"
            android:parentActivityName="com.amtee.camscanner.activities.PicCaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDev">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amtee.camscanner.activities.PicCaptureActivity" />
        </activity>
        <activity
            android:name="com.amtee.camscanner.activities.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amtee.camscanner.activities.PdfDocumentCreationActivity"
            android:parentActivityName="com.amtee.camscanner.activities.drawer_activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDev">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amtee.camscanner.activities.drawer_activity.MainActivity" />
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.purplebrain.adbuddiz.sdk.AdBuddizActivity"
            android:theme="@android:style/Theme.Translucent" />
    </application>
</manifest>
